.pushIp{
  margin-top: 20px;
  display: flex;
  width: 100%;
  padding-right: 30px;
  padding-left: 40px;
}
.pushIp .info{
  width: 160px;
}
.pushIp .info>span{
  display: block;
  width: 120px;
  height: 120px;
}
.pushIp>i{
    display: block;
    width: 1px;
    background-color: #d1d0d0;
    margin: -10px 25px;
}
.pushIp .bookList{
  flex:1;
}