*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑",sans-serif;
}
.remarkDetail{
	width: 100%;
	height: 100%;
	background-color: white;
	min-width: 1060px;
	overflow: hidden;
}
.remarkDetail .remarkDetailIn{
	width: auto;
	margin: 25px 30px auto 30px;
}

.remarkDetail Table{
	width: 100%;
	border: 1px solid #DDE5E7;
	border-bottom: none;
	overflow: auto;
}
.remarkDetail Table td{
	height: 42px;
	line-height: 42px;
	text-align: center;
	box-sizing: border-box;
	font-size: 12px;
}

.remarkDetail .ant-table{
	border-radius: 0px !important;
	border-top: none !important;
}
.remarkDetail .ant-table-thead > tr > th{
	width: 20%;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	border-radius: none;
	border: none;
	text-align: center;
}
.remarkDetail .ant-table-tbody > tr > td{
	width: 20%;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 0;
	margin: 0;
	border-radius: none;
	border: none;
	box-sizing: border-box;
	border-bottom: 1px solid #DDE5E7 !important;
	padding-top: 11.5px !important;
	padding-bottom: 11.5px !important;
}
.remarkDetail .ant-table-tbody > tr > td:nth-child(2){
	text-align: center;
	font-size: 22px;
	letter-spacing: 10px;
	color: #7D8A93 !important;
}
.remarkDetail .ant-table-thead > tr > th{
	font-size: 14px;
	height: 46px;
	line-height: 46px;
}
.remarkDetail .ant-table .ant-pagination,.remarkDetail .ant-table-pagination{
	display: none !important;
}
.remarkDetail .paixu{
	margin: 25px auto 10px auto;
	width: auto;
	text-align: right;
	padding-right: 15px;
}
.remarkDetail .paixu .paixuIn{
	display: inline-block;
}


.remarkDetail .theDelateBtn{
	color: #108EE9;
	cursor: pointer;
}

.remarkDetail .classifySort .t-nm-tab .ant-table-body{
	border-right: 1px solid #E8E8E8;
}
