.add label{
	font-size: 14px;
}
.add .ant-form-item-label{
	padding-right: 15px
}
.add .addAndMud{
	font-size: 24px;
    cursor : pointer;
    color:#27c14c;
}
.add .addAndMud:active{
	color:#23ad43;
}
.add .submit{
	margin-top: 40px;
	width:100px;
	background-color: #27c14c;
	border-color: #27c14c;
}
.add .submit:active{
	background-color:#23ad43;
	color:black;
}
.add .button_warp_1 span{
	width:100%;
} 
.add .filetext .ant-form-explain {
	text-indent: -83%;
}
